<header class="top-bar">
    <nav class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><a href="{{path('homepage') }}"><img class="logo" src="/assets/jdm_white_transparent.png" alt="Logo de Jeux de Mots"/>Navigateur lexical pour Jeux de Mots</a></li>
        </ul>
    </nav>
    <nav class="top-bar-right">
        <ul class="menu">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('preferences', {username : app.user.username}) }}">{{ app.user.username }}</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                <li><a href="{{ path('app_register') }}">S'enregistrer</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="corp">
