{% for e in entries %}
    <p class="relation">
        <h2 class="roundStuff">{{ e.weight }}</h2>
        <a href='{{path('search', {term: e.nodeIn}) }}'>{{ e.nodeIn }}</a> →
        <a href='{{path('search', {term: e.nodeOut}) }}'>{{ e.nodeOut }}</a>
    </p>
    <hr>
{% endfor %}