{% for e in entries %}
    <div class="relation">
        <h2 class="roundStuff">{{ e.weight }}</h2>
        <p onclick="searchOnJDM('{{ e.nodeIn }}', 'exacte');">{{ e.nodeIn }}</p> →
        <p onclick="searchOnJDM('{{ e.nodeOut }}', 'exacte');">{{ e.nodeOut }}</p>
    </div>
    <hr>
{% endfor %}