{% block body %}
<div class="example-wrapper">
    <section>

        <input type="hidden" id="term-name" value="{{ term }}"/>

        {% if content.defs|length == 0 %}
            <p>Oups. Il semblerait qu'aucune définition n'est encore disponible pour ce terme.</p>
        {% else %}
            <table>
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Définition</th>
                </tr>
                </thead>
                <tbody>
                {% set i = 1 %}
                {% for def in content.defs %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ def.def }}
                            {% for ex in def.examples %}
                                <br/><small><i>{{ ex }}</i></small>
                            {% endfor %}
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </section>

    <section>
        <h2>Relations</h2>
        {% set j = 0 %}
        {% for r in content.relations %}
{#            {{ dump(r) }}#}
            <button class="button" id="buttonDisplay_{{ r.id }}" onclick="displayEntries('{{ r.id }}', {{ j }})">{{ r.id }}</button>

            <div id="re-{{ j }}" style="display: none;">
                <h3>Entrée(s) pour la relation {{ r.id }}</h3>
                 Remplis par ajax
            </div>
            {% set j = j + 1 %}
        {% endfor %}
    </section>

</div>
{% endblock %}
