{% extends 'base.html.twig' %}

{% block title %}Navigateur Lexical pour JDM{% endblock %}


{% block body %}

    <div data-magellan-target="main-content-section">
        <div class="text-center content">
            <h1>{{ title }}</h1>
            <p>Bienvenue sur le navigateur pour Jeux de Mots. Ici vous pouvez naviguer en toute simplicité dans le réseau lexical du <a href="http://www.jeuxdemots.org/jdm-about.php">projet Jeux de Mots</a>.</p>

            <recherche class="panel">
                <h2>Recherche</h2>
                <div class="row">
                    <form id="form" action="">
                        <input id="term" class="column large-3" type="text" placeholder="Je recherche le terme..." value="">
                        <select id="search-mode" class="column large-3" onchange="setExplanationText()">
                            <option value="" disabled>--Choisir un mode de recherche--</option>
                            <option value="exacte">Exactement</option>
                            <option value="approximative">Approximativement</option>
                            <option value="relation">Par relations</option>
                            <option value="chaine">Par forme de chaîne</option>
                        </select>
                        <select id="relations" class="column large-3 default-hiden" multiple>
                            <option value="" disabled>--Choisir une relation--</option>
                            {% for relation in relations %}
                                <option value="{{ relation }}">{{ relation }}</option>
                            {% endfor %}
                        </select>
                        <input class="button column large-3" onclick="setAction()" type="submit" value="Submit">
                    </form>
                    <p id="mode-explanation" class="column large-3">Choisissez le mode de recherche.</p>
                </div><!-- row -->
            </recherche>
            <gestionCompte class="panel">
                <h2>Un compte ?</h2>
                <p>Pour faciliter votre visite ce site utilise des cookies. Connectez-vous (ou inscrivez-vous) pour une meilleure expérience.</p>
                <a href='{{ path('homepage') }}' class="button">Connexion</a>
                <a href='{{ path('homepage') }}' class="button">Créer un compte</a>
            </gestionCompte>
        </div><!-- content -->
    </div>

{% endblock %}
