{% extends 'base.html.twig' %}

{% block title %}Préférences{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="h3 mb-3 font-weight-normal">Vos préférences !</h1>
    <label for="inputNbMaxElem">Nombre d'éléments à afficher en même temps</label>
    <input type="number" value="{{ max_display }}" name="inputNbMaxElem" id="inputNbMaxElem" class="form-control" required autofocus>
    <label for="displayOrder">Ordre</label>
    <select type="string" name="displayOrder" id="displayOrder" class="form-control" required>
        <option value="alpha" {{ is_alpha_selected }}>Alphabétique</option>
        <option value="poids" {{ is_weight_selected }}>Poids croissant</option>
    </select>
    <label>Relations indésirables</label>
    <table id="relations">
    {% set cpt = 0 %}
    {% for r in relations %}
        {% if cpt % 3 == 0 %}
            <tr>
        {% endif %}
        <td><input type="checkbox" name="relation" value="{{ r.id }}" checked>  {{ r.name }}</input></td>
        {% if cpt % 3 == 2 %}
            </tr>
        {% endif %}
        {% set cpt = cpt + 1 %}
    {% endfor %}
    </table>

    <a class="button" href="{{path('save-preferences', {username : app.user.id}) }}" type="submit">
        Mettre à jour
    </a>

</div>
{% endblock %}
